
<!-- Categories Start -->

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 py-4">
  <% if(categories != '') { %>
    <% categories.forEach(function(category, index) { %>
      <a href="/category/<%= category._id %>" class="col text-center category__link">
        <div class="category__img shadow">
          <img src="uploads/<%- category.image %>" alt="<%- category.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%- category.name %></div>
      </a>
    <% }) %>
  <% } %>

  <a href="/categories/" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="img/generic.jpg" alt="View All Categories" loading="lazy">
    </div>
    <div class="pt-1">View All Categories</div>
  </a>
</div>
<!-- Categories End -->

<!-- Latest posts start -->
<h1 class="h1 mt-6 mb-5 text-center blog-posts">Latest Posts</h1>
<div class="row home-posts <%= columnClass %> g-2 g-lg-3">
  <% if (latestPosts != '') { %>
    <% latestPosts.forEach(function (post, index) { %>
      <a href="/post/<%= post._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= post.image %>" alt="<%= post.title %>" loading="lazy">
        </div>
        <div class="pt-1"><%= post.title %></div>
      </a>
    <% }) %>
  <% } else { %>
    <p>No items found.</p>
  <% } %>
</div>
</section>
<!-- Latest Posts End -->
